
#verified on AL2 beanstalk for PHP74

# Use instance profile to authenticate to S3 bucket 
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "BEANSTALK_BUCKET"}}`'
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  # Pull env.config from S3
  /tmp/.env:
    mode: "000440"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "S3_CONFIG_LOC"}}`/env'    

  # Pull keypair from s3
  /tmp/pub.pem:
    mode: "000440"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "S3_CONFIG_LOC"}}`/pub.pem'   

  /tmp/priv.pem:
    mode: "000440"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "S3_CONFIG_LOC"}}`/priv.pem'       