option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_MEMORY_LIMIT
    value: -1

    aws:elasticbeanstalk:container:php:phpini:
      document_root: /public-test
      zlib.output_compression: "Off"
      allow_url_fopen: "On"
      display_errors: "On"
      max_execution_time: 61
      memory_limit: 3076M
      composer_options: --no-interaction --prefer-dist --optimize-autoloader --no-dev